.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
  padding: 30px 50px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.col {
  flex: 1;
  margin-right: 20px;
  min-width: 200px;
}

/* .col:last-child {
  margin-right: 0;
} */

.container {
  max-width: 1200px;
  margin: auto;
}

.margin-left-16 {
  margin-left: 16px;
}

.clickable {
  cursor: pointer;
}
