.mat-toolbar {
  .nav-spacer {
    flex: 1 1 auto;
    text-align: center;
    padding: 15px 20px 0 20px;
    .mat-form-field {
      font-size: medium;
      max-width: 400px;
      width: 100%;
    }
  }
  button {
    margin: 0 10px;
  }
  .right-side {
    button {
      border: 1px solid;
    }
  }
  .user-name {
    padding-right: 1rem;
  }
  .mat-icon {
    vertical-align: text-bottom
  }
  a {
    cursor: pointer;
  }
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2;
}

.container {
  padding-top: 65px;
}

.mat-spinner {
  position: absolute;
  top: 40vh;
  left: 45vw;
}

.margin-right-20 {
  margin-right: 20px;
}
