<div *ngIf="cart$ | async">
  <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
      <h3><b>Filters</b></h3>
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select [formControl]="selectedCategories" multiple>
          <mat-option *ngFor="let category of getCategories() | async" [value]="category">{{category}}</mat-option>
        </mat-select>
      </mat-form-field>
      <h3><b>Sort By</b></h3>
      <mat-form-field appearance="outline">
        <mat-label>Sort by</mat-label>
        <mat-select [formControl]="sortBy">
          <mat-option value="id">ID</mat-option>
          <mat-option value="title">Title</mat-option>
          <mat-option value="price">Price</mat-option>
          <mat-option value="category">Category</mat-option>
          <mat-option value="description">Description</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-radio-group [formControl]="sortOrder">
          <mat-radio-button value="asc">Ascending</mat-radio-button>
          <mat-radio-button value="desc">Descending</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-drawer>
    <div class="filter-button" (click)="drawer.toggle()">
      Show Filters
    </div>
    <div class="sidenav-content">
      <div>
          <div class="row padding-top-40">
            <mat-card class="col" *ngFor="let product of getFilteredProducts() | async">
              <mat-card-content class="dashboard-card-content">
                <div>
                  <img class="product-image" alt="Image for {{product.title}}" [src]="product.image">
                  <h3>{{product.title}}</h3>
                </div>
                <p class="description">{{product.description}}</p>
                <div class="category"><b>{{product.category}}</b></div>
                <div *ngIf="getQuantityDetails(product) | async as quantityDetails; else newProduct">
                  <div><b>{{product.price | currency}}</b></div>
                  <button type="button" mat-raised-button color="warn" (click)="removeFromCart(product)">
                    Remove From Cart
                  </button>
                </div>
                <ng-template #newProduct>
                  <div>
                    <div><b>{{product.price | currency}}</b></div>
                    <button type="button" mat-raised-button color="primary" (click)="addToCart(product)">
                      Add To Cart
                    </button>
                  </div>
                </ng-template>
              </mat-card-content>
            </mat-card>
          </div>
      </div>
    </div>
  </mat-drawer-container>
</div>
<div class="spinner-background" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
